.carousel {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: end;
    width: 50%;
}
.navBar {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 84, 162);
}
#navBarText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navBarButtons {
    padding-left: 25px;
    size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}