.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.carouselImages img {
    padding-top: 30px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}